Importing the Dependencies

In [5]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [6]:
credit_card_data = pd.read_csv('/content/creditcard.csv')

In [7]:
credit_card_data.head()

   Time        V1        V2        V3  ...       V27       V28  Amount  Class
0     0 -1.359807 -0.072781  2.536347  ...  0.133558 -0.021053  149.62    0.0
1     0  1.191857  0.266151  0.166480  ... -0.008983  0.014724    2.69    0.0
2     1 -1.358354 -1.340163  1.773209  ... -0.055353 -0.059752  378.66    0.0
3     1 -0.966272 -0.185226  1.792993  ...  0.062723  0.061458  123.50    0.0
4     2 -1.158233  0.877737  1.548718  ...  0.219422  0.215153   69.99    0.0

[5 rows x 31 columns]

In [8]:
credit_card_data.tail()

      Time        V1        V2        V3  ...       V27       V28  Amount  Class
3968  3617  1.134592  0.252051  0.488592  ... -0.046611  0.012562   13.99    0.0
3969  3621 -1.338671  1.080974  1.291196  ... -0.119911  0.321847   27.43    0.0
3970  3622 -0.339728 -2.417449  0.975517  ... -0.049872  0.153526  730.32    0.0
3971  3623 -0.368639  0.947432  1.707755  ...  0.033794  0.005996    6.87    0.0
3972  3624 -0.663445  1.162921  1.508050  ...       NaN       NaN     NaN    NaN

[5 rows x 31 columns]

In [9]:
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3973 entries, 0 to 3972
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    3973 non-null   int64
 1   V1      3973 non-null   float64
 2   V2      3973 non-null   float64
 3   V3      3973 non-null   float64
 4   V4      3973 non-null   float64
 5   V5      3973 non-null   float64
 6   V6      3973 non-null   float64
 7   V7      3973 non-null   float64
 8   V8      3973 non-null   float64
 9   V9      3973 non-null   float64
 10  V10     3973 non-null   float64
 11  V11     3973 non-null   float64
 12  V12     3973 non-null   float64
 13  V13     3973 non-null   float64
 14  V14     3973 non-null   float64
 15  V15     3973 non-null   float64
 16  V16     3973 non-null   float64
 17  V17     3973 non-null   float64
 18  V18     3973 non-null   float64
 19  V19     3973 non-null   float64
 20  V20     3973 non-null   float64
 21  V21     3973 non-null   float64
 22  V22     3973 non-null   float64
 23  V23     3972 non-null   float64
 24  V24     3972 non-null   float64
 25  V25     3972 non-null   float64
 26  V26     3972 non-null   float64
 27  V27     3972 non-null   float64
 28  V28     3972 non-null   float64
 29  Amount  3972 non-null   float64
 30  Class   3972 non-null   float64
dtypes: float64(30), int64(1)
memory usage: 962.3 KB

In [10]:
# checking the number of missing values in each column
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       1
V24       1
V25       1
V26       1
V27       1
V28       1
Amount    1
Class     1
dtype: int64

In [11]:
# distribution of legit transactions & fraudulent transactions
credit_card_data['Class'].value_counts()

0.0    3970
1.0       2
Name: Class, dtype: int64

In [12]:
# separating the data for analysis
legit = credit_card_data[credit_card_data.Class == 0]
fraud = credit_card_data[credit_card_data.Class == 1]

In [13]:
print(legit.shape)
print(fraud.shape)

(3970, 31)
(2, 31)

In [14]:
legit.Amount.describe()

count    3970.000000
mean       64.899597
std       213.612570
min         0.000000
25%         2.270000
50%        12.990000
75%        54.990000
max      7712.430000
Name: Amount, dtype: float64

In [15]:
fraud.Amount.describe()

count      2.000000
mean     264.500000
std      374.059487
min        0.000000
25%      132.250000
50%      264.500000
75%      396.750000
max      529.000000
Name: Amount, dtype: float64

In [16]:
credit_card_data.groupby('Class').mean()

              Time        V1        V2  ...       V27       V28      Amount
Class                                   ...
0.0    1638.828463 -0.332459  0.308935  ...  0.044658  0.002668   64.899597
1.0     439.000000 -2.677884 -0.602658  ...  0.004186 -0.053756  264.500000

[2 rows x 30 columns]

Number of Fraudulent Transactions --> 492

In [17]:
legit_sample = legit.sample(n=492)

Concatenating two DataFrames

In [18]:
new_dataset = pd.concat([legit_sample, fraud], axis=0)

In [19]:
new_dataset.head()

      Time        V1        V2        V3  ...       V27       V28  Amount  Class
427    310 -1.236351 -0.687029  2.093407  ...  0.186280  0.230012    7.80    0.0
826    631 -1.058931  0.114078  1.485337  ...  0.090101  0.137386   57.64    0.0
1951  1504 -1.026082  1.344535  1.364817  ...  0.451212  0.251131    5.00    0.0
1573  1230  1.334329  0.407315 -0.481604  ... -0.015403  0.000296    1.99    0.0
2084  1607  1.322146 -1.362007  0.035150  ...  0.028291  0.014662   10.00    0.0

[5 rows x 31 columns]

In [20]:
new_dataset.tail()

      Time        V1        V2        V3  ...       V27       V28  Amount  Class
1075   822  0.860733 -0.802727  1.105443  ... -0.038996  0.041718  156.04    0.0
3241  2801 -0.414921  0.723422  1.224416  ...  0.240382 -0.020126    1.00    0.0
614    463  1.298898 -1.050674 -0.301587  ...  0.073130  0.006890   37.57    0.0
541    406 -2.312227  1.951992 -1.609851  ...  0.261145 -0.143276    0.00    1.0
623    472 -3.043541 -3.157307  1.088463  ... -0.252773  0.035764  529.00    1.0

[5 rows x 31 columns]

In [21]:
new_dataset['Class'].value_counts()

0.0    492
1.0      2
Name: Class, dtype: int64

In [22]:
new_dataset.groupby('Class').mean()

              Time        V1        V2  ...       V27       V28      Amount
Class                                   ...
0.0    1619.776423 -0.269521  0.287248  ...  0.033773  0.002659   64.683882
1.0     439.000000 -2.677884 -0.602658  ...  0.004186 -0.053756  264.500000

[2 rows x 30 columns]

Splitting the data into Features & Targets

In [23]:
X = new_dataset.drop(columns='Class', axis=1)
Y = new_dataset['Class']

In [24]:
print(X)

      Time        V1        V2        V3  ...       V26       V27       V28  Amount
427    310 -1.236351 -0.687029  2.093407  ... -0.531517  0.186280  0.230012    7.80
826    631 -1.058931  0.114078  1.485337  ... -0.489207  0.090101  0.137386   57.64
1951  1504 -1.026082  1.344535  1.364817  ...  0.300114  0.451212  0.251131    5.00
1573  1230  1.334329  0.407315 -0.481604  ... -0.240583 -0.015403  0.000296    1.99
2084  1607  1.322146 -1.362007  0.035150  ...  1.089495  0.028291  0.014662   10.00
...    ...       ...       ...       ...  ...       ...       ...       ...     ...
1075   822  0.860733 -0.802727  1.105443  ...  0.933611 -0.038996  0.041718  156.04
3241  2801 -0.414921  0.723422  1.224416  ... -0.872151  0.240382 -0.020126    1.00
614    463  1.298898 -1.050674 -0.301587  ... -0.658224  0.073130  0.006890   37.57
541    406 -2.312227  1.951992 -1.609851  ...  0.177840  0.261145 -0.143276    0.00
623    472 -3.043541 -3.157307  1.088463  ... -0.145362 -0.252773  0.035764  529.00

[494 rows x 30 columns]

In [25]:
print(Y)

427     0.0
826     0.0
1951    0.0
1573    0.0
2084    0.0
       ...
1075    0.0
3241    0.0
614     0.0
541     1.0
623     1.0
Name: Class, Length: 494, dtype: float64

Split the data into Training data & Testing Data

In [26]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

In [27]:
print(X.shape, X_train.shape, X_test.shape)

(494, 30) (395, 30) (99, 30)

Model Training

Logistic Regression

In [28]:
model = LogisticRegression()

In [29]:
model.fit(X_train, Y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

Accuracy Score

In [30]:
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [31]:
print('Accuracy on Training data : ', training_data_accuracy)

Accuracy on Training data :  1.0

In [32]:
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [33]:
print('Accuracy score of Test Data : ', test_data_accuracy)

Accuracy score of Test Data :  1.0